<!DOCTYPE html>
<html lang="en">
    <% include ../layout/head %>
    <body>
        <% include ../layout/navbar %>
        <div class="container mt-5">
            <div class="row cont">
                <div class="col">
                    <p class="par1">Listen to your favourite music with your friends 😉</p>
                    <p class="col-cus">
                        <%= client.user.username %> offer the best qullity to listen to your music with 24/7 uptime
                        <br />
                        Invite <%= client.user.username %> to your server now!
                    </p>
                    <a href="/invite" target="_blank">
                        <button type="button" class="btn btn-invite">Invite to Discord</button>
                    </a>
                    <a href="/premium">
                        <button type="button" class="btn btn-outline-prem">Buy Premium</button>
                    </a>
                </div>
                <div class="col">
                    <img class="float-end logo-main rounded-circle" src="<%= client.user.displayAvatarURL({ dynamic: true }) %> " alt="Logo-bot" />
                </div>
            </div>
            <hr />
            <br />
            <br />
            <div class="row mt-5">
                <div class="col">
                    <h4 class="about-title mt-5">About Us</h4>
                    <p class="col-cus par-info position-relative par-info">
                        <%= description %>
                    </p>
                </div>
                <div class="col">
                    <img class="float-end" src="<%= client.user.displayAvatarURL({ dynamic: true }) %> " alt="Logo-bot" />
                </div>
            </div>
            <br />
            <br />
            <hr />
            <h3 class="text-center text-light mt-5" style="font-size: 2rem;">All Commands</h3>
            <div class="accordion mt-5" id="accordion">
                <div class="accordion-item" style="border: none;">
                    <h2 class="accordion-header" id="headingTwo">
                        <button style="background-color: #1d1d30;" class="accordion-button text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Command 1
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <span class="text-info">Explan:</span>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            </p>
                            <span class="text-info">Usage:</span>
                            <p>
                                #play helloWorld [Args]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2" style="border: none;">
                    <h2 class="accordion-header" id="headingThree">
                        <button style="background-color: #1d1d30;" class="accordion-button text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Command 2
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <span class="text-info">Explan:</span>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            </p>
                            <span class="text-info">Usage:</span>
                            <p>
                                #play helloWorld [Args]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2" style="border: none;">
                    <h2 class="accordion-header" id="headingOne">
                        <button style="background-color: #1d1d30;" class="accordion-button text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Command 3
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <span class="text-info">Explan:</span>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            </p>
                            <span class="text-info">Usage:</span>
                            <p>
                                #play helloWorld [Args]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2" style="border: none;">
                    <h2 class="accordion-header" id="headingFour">
                        <button style="background-color: #1d1d30;" class="accordion-button text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Command 4
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <span class="text-info">Explan:</span>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            </p>
                            <span class="text-info">Usage:</span>
                            <p>
                                #play helloWorld [Args]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item mt-2" style="border: none;">
                    <h2 class="accordion-header" id="headingFive">
                        <button style="background-color: #1d1d30;" class="accordion-button text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Command 5
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <span class="text-info">Explan:</span>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            </p>
                            <span class="text-info">Usage:</span>
                            <p>
                                #play helloWorld [Args]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../layout/footer %>
    </body>
    <% include ../layout/script %>
</html>
